body {
}

.#{$projectPrefix}-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*=margin
  =padding
---------------------*/
$css_property_padding_margin: margin, padding;
@each $css_prop in $css_property_padding_margin {
  @for $i from 0 through 100 {
    .#{$projectPrefix}-#{$css_prop}-#{$i * 5} {
      #{$css_prop} : $i * 5px;
    }
  }
}

@each $css_prop in $css_property_padding_margin {
  $list: top, bottom, left, right;
  @each $dir in $list {
    @for $i from 0 through 100 {
      .#{$projectPrefix}-#{$css_prop}-#{$dir}-#{$i * 5} {
        #{$css_prop}-#{$dir} : $i * 5px;
      }
    }
  }
}

/*=hr
------------*/
.dybt-hr-sm {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #666;
  width: 100px;
}

.dybt-hr-md {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #666;
  width: 200px;
}

.dybt-hr-lg {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #666;
  width: 300px;
}

/*=font-weight
-----------------*/
.dybt-font-weight-lighter {
  font-weight: lighter;
}
.dybt-font-weight-bold {
  font-weight: bold;
}
.dybt-font-weight-bolder {
  font-weight: bolder;
}